## this file was geneterated by ansible playbook
## do not change it manually 

frontend workernode
    bind 192.168.237.145:80
    stats uri /haproxy?stats
    default_backend backend_server
   
backend backend_server
    balance roundrobin
    server workernode2 192.168.237.147:80 

listen stats
   bind *:8080
   stats enable
   stats uri /
   stats refresh 5s
   stats realm Haproxy\ Statistics
   stats auth root@workernode
